# Configuración de Snowflake
SNOWFLAKE_USER=tu_usuario
SNOWFLAKE_PASSWORD=tu_contraseña
SNOWFLAKE_TOKEN=tu_token_oauth
SNOWFLAKE_ACCOUNT=tu_cuenta.region
SNOWFLAKE_WAREHOUSE=tu_warehouse
SNOWFLAKE_DATABASE=tu_base_de_datos
SNOWFLAKE_SCHEMA=tu_esquema
SNOWFLAKE_ROLE=tu_rol
